{% assign size = include.size | default: 'regular' %} {% assign author =
site.data.authors[include.post.author] %}

<div class="block mb-4 space-y-2 rounded p-4 lg:w-1/3 bg-white">
  <div class="space-y-2">
    <div class="border lg:h-64  overflow-hidden w-full rounded-lg mb-6 relative">
      <img
        src="{{include.post.image}}"
        alt=""
        class="object-cover object-left-top h-full w-full"
      />
    </div>

    <h2 class="text-xl hover:text-blue-600 font-semibold">
      <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    </h2>
    <p class="text-gray-500 text-sm">
      Posted on {{ include.post.date | date: "%b %d, %Y" }} by
      <a class="font-bold" href="/blog/authors/{{ include.post.author }}">
        {{author.name }}
      </a>
    </p>
  </div>
  {% include tag_cloud.html tags=include.post.tags %}

  <div class="truncate">{{ include.post.excerpt | strip_html }}</div>
</div>
