{% assign size = include.size | default: 'regular' %} {% assign author =
site.data.authors[include.post.author] %}

<div class="mb-4 space-y-4 text-lg rounded p-8 bg-white">
  <div class="space-y-2">
    <h2 class="lg:text-4xl hover:text-blue-600 font-semibold">
      <a href="{{ include.post.url }}">{{ include.post.title }}</a>
    </h2>
    <p class="text-gray-500 text-sm">
      Posted on {{ include.post.date | date: "%b %d, %Y" }} by
      <a class="font-bold" href="/blog/authors/{{ include.post.author }}">
        {{author.name }}
      </a>
    </p>
  </div>
  {% include tag_cloud.html tags=include.post.tags %}

  <div class="border overflow-hidden w-full rounded-lg mb-6 relative">
    <img
      src="{{include.post.image}}"
      alt=""
      class="h-full object-cover object-center relative mx-auto"
    />
  </div>

  <div>
    {{ include.post.excerpt | strip_html }}
  </div>

  <a
    href="{{ include.post.url }}"
    class="text-blue-600 bg-blue-600 text-white hover:bg-blue-700 rounded px-2 mt-4 inline-block"
    >Continue Reading »</a
  >
</div>
