<section class="angled dark">
  <div class="p-4 lg:p-0 mx-auto text-center space-y-12 max-w-2xl">
    <div class="space-y-4 mx-auto">
      <h2 class="text-4xl lg:text-5xl font-bold">
        Your data is a representation of <u>you</u>
      </h2>
      <h3 class="text-2xl">Your workflows. Projects. And opportunities.</h3>
      <h3 class="text-2xl">
        But too many data tools limit you from managing your data
        <u>your way</u>.
      </h3>
    </div>
    <p class="text-xl">Here are some root causes of this issue:</p>
    <ul class="text-left text-lg space-y-6 list-cancel mx-auto max-w-xl">
      <li class="flex flex-start">
        <span>
          Spreadsheets don’t have strict structures – so it’s hard to keep your
          data <span class="font-black highlighted">consistent</span> and
          <span class="font-black highlighted">valid</span>. This limits your potential to
          reuse. And often leads to <span class="font-black highlighted">faulty</span> data.
        </span>
      </li>
      <li class="flex flex-start">
        <span>
          When your data is scattered in different places, it’s hard to get
          <span class="font-black highlighted">one view</span> into everything. Your stored
          data <span class="font-black highlighted">can’t be modified</span> by other
          software.
        </span>
      </li>
      <li class="flex flex-start">
        <span>
          Cloud-based solutions tend to
          <span class="font-black highlighted">restrict</span> your data management. The
          number of rows you can have – limited. The ability to own your data –
          limited. Getting quick answers – limited.
        </span>
      </li>
    </ul>

    <div class="space-y-6 mx-auto">
      <h3 class="text-2xl lg:text-3xl font-bold">
        You can truly own your data – with Mathesar’s open source interface.
      </h3>
      <p class="text-2xl">
        Give your collaborators freedom to explore and answer data questions.
        Quickly.
      </p>
    </div>

    <ul class="text-left text-lg space-y-6 list-check mx-auto mx-auto max-w-xl">
      <li class="flex flex-start ">
        <span>
          Mathesar ensures that your data is kept
          <span class="font-black highlighted">consistent</span>. So you can base your
          decisions – about projects, processes, anything – on more
          <span class="font-black highlighted">accurate</span> data.
        </span>
      </li>
      <li class="flex flex-start">
        <span>
          You can <span class="font-black highlighted">connect</span> Mathesar to your
          existing Postgres database. Use Mathesar with the many tools that
          integrate with Postgres – to explore your data even deeper.
        </span>
      </li>
      <li class="flex flex-start">
        <span>
          Your data is <span class="font-black highlighted">never locked in</span>.
          Self-host on your servers to independently manage your data. You can
          migrate or go back and forth from Mathesar at any time.
        </span>
      </li>
      <li class="flex flex-start">
        <span>
          Mathesar has an
          <span class="font-black highlighted">intuitive</span> interface that is similar to
          a spreadsheet. Empower your friends and colleagues – of all technical
          skill levels – to enter valid data and get immediate answers to
          <span class="font-black highlighted">ad-hoc</span> questions.
        </span>
      </li>
    </ul>
  </div>
</section>
