<div class="px-4 mx-auto max-w-2xl">
  <div
    class="bg-blue-600  mt-24 mb-16 text-white text-center relative rounded-lg p-12 space-y-4"
  >
    <div class="space-y-2">
      <h3 class="text-2xl lg:text-3xl font-semibold">
        Stay updated on Mathesar's release
      </h3>
    </div>

    <div
      class="lg:flex lg:flex-col items-center justify-center text-lg space-y-4 lg:space-y-0 lg:space-x-2"
    >
      <form
        id="signup-form"
        class="flex-col w-full space-y-2"
        action="https://formspree.io/f/xlevqoza"
        method="POST"
      >
        <div class="flex items-stretch space-x-2 w-full">
          <input
            type="email"
            name="email"
            class="bg-white rounded p-2 w-full border text-black"
            placeholder="Please enter your email address"
          />
          <button
            class="button secondary p-2 rounded whitespace-nowrap"
            type="submit"
          >
            Sign Up
          </button>
        </div>
        <div class="text-sm text-gray-200">
          We'll send you occasional updates about Mathesar. No spam.
        </div>
        <div class="h-4">
          <p
            class="success-text hidden w-max text-green-600 bg-lime-100 py-1 px-4 mx-auto rounded-full"
          >
            Success!
          </p>
          <p
            class="error-text hidden w-max text-red-600 bg-rose-100 py-1 px-4 mx-auto rounded-full"
          >
            Error, please try again later.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const signupFormId = "signup-form";
  const signupForm = document.getElementById(signupFormId);
  function handleSignupFormSubmit(event) {
    event.preventDefault();
    const { setLoading, unsetLoading } = loadingStateManager(signupFormId);
    setLoading();
    sendFormDataToFormspree(event, signupForm)
      .then(() => showSuccessText(signupFormId))
      .catch(() => showErrorText(signupFormId))
      .finally(unsetLoading);
  }
  signupForm.addEventListener("submit", handleSignupFormSubmit);
</script>
