<section class="angled light">
  <div class="max-w-4xl mx-auto space-y-12">
    <div class="text-center space-y-4 max-w-2xl mx-auto">
      <h3 class="text-4xl font-bold">Mathesar’s approach is unique...</h3>
      <p class="text-3xl">We’re not reinventing the wheel</p>
      <p class="text-3xl">
        We’re making your existing database more accessible to you – via a
        user-friendly interface.
      </p>
    </div>
    <div class="text-center space-y-8">
      

      <ul class="mx-auto text-left gap-12 grid lg:grid-cols-2">
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/relationship-icon.png" alt="" />
          <div>
            <span class="font-bold">Set up relationships in the UI</span> - and
            these will reflect at the database level. Mathesar doesn’t have its
            own set of abstractions.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/time-icon.png" alt="" />
          <div>
            <span class="font-bold"
              >Cut down on days spent re-organizing your data models</span
            >
            - reconfigure schema in just minutes. So whenever your workflow
            changes, you can quickly adapt your data models – without
            disruptions.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/view-icon.png" alt="" />
          <div>
            <span class="font-bold"
              >Create one view from across <u>multiple</u> tables</span
            >
            – easily. Explore your data to gain new insights. And answer quick
            questions.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/wizard-icon.png" alt="" />
          <div>
            <span class="font-bold"
              >Let Mathesar automatically guess the type of data in your
              columns</span
            >
            – to save time doing this manually. Mathesar assumes data types and
            maintains integrity.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/validation-icon.png" alt="" />
          <div>
            <span class="font-bold">De-duplicate your data</span> – the
            user-friendly interface ensures that your collaborators input only
            data that is valid and consistent.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/sign-icon.png" alt="" />
          <div>
            <span class="font-bold">Straightforward UX</span> – your team don’t
            need to know anything about database concepts. ‘Help’ icons will
            guide you along the way.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/postgres-icon.png" alt="" />
          <div>
            <span class="font-bold">Postgres interface</span> – no disruptions
            to your workflow since Mathesar works on top of your existing tools.
          </div>
        </li>
        <li class="text-lg space-y-4">
          <img class="w-12 h-12" src="assets/chest-icon.png" alt="" />
          <div>
            <span class="font-bold">No paid plans</span> – everyone gets access
            to the full feature set.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


