<section class="p-8 rounded bg-stone-100 angled dark space-y-8">
  <h4 class="text-center">
    <span class="text-2xl">Request a free install</span>
  </h4>
  <form
    class="mx-auto max-w-2xl"
    action="https://formspree.io/f/moqbgpro"
    method="POST"
  >
    <div class="flex flex-col space-y-4 space-y-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col space-y-1">
          <label for="last_name">Full Name</label>
          <input
            class="border p-2 rounded"
            type="text"
            id="full_name"
            name="full_name"
          />
        </div>
        <div class="flex flex-col space-y-1">
          <label for="email">Email</label>
          <input
            class="border p-2 rounded"
            type="email"
            id="email"
            name="email"
          />
        </div>
      </div>
      <div class="flex flex-col space-y-1">
        <label for="use_case">What will you use Mathesar for?</label>
        <textarea
          class="border p-2 rounded"
          id="use_case"
          name="use_case"
          rows="4"
        ></textarea>
      </div>
      <div class="flex flex-col space-y-1">
        <label for="current_solution"
          >How do you currently solve this problem?</label
        >
        <textarea
          class="border p-2 rounded"
          id="current_solution"
          name="current_solution"
          rows="4"
        ></textarea>
      </div>
      <div class="flex flex-col space-y-1">
        <label for="hosting_provider"
          >Where do you plan to host Mathesar?</label
        >
        <p class="text-gray-200 italic">If you're not sure, that's okay.</p> 
        <input
          class="border p-2 rounded"
          type="text"
          id="hosting_provider"
          name="hosting_provider"
        />
      </div>
      <div class="flex flex-col space-y-1 space-y-4">
        <label for="other_info">Any other information we should know?</label>
        <textarea
          class="border p-2 rounded"
          id="other_info"
          name="other_info"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="flex flex-col space-y-1 space-y-4 mt-4">
      <button
        class="bg-blue-600 rounded text-xl p-2 text-white w-max mx-auto"
        type="submit"
      >
        Request Free Install
      </button>
    </div>

    <p class="mt-4 text-gray-200 text-lg">
      Next: we’ll either reach out to learn more about your use case – or let
      you know if we’re out of capacity. Thank you.
    </p>
  </form>
</section>
