<div class="space-y-4">
  <p>We’re currently funded through the generous support of:</p>
  <div class="flex items-center space-x-8">
  <figure class="space-y-2">
    <img
      class="lg:h-24"
      src="assets/Reid_Hoffman_Foundation.png"
      alt="Reid Hoffman Foundation logo"
    />
    <figcaption class="font-bold text-sm">Reid Hoffman</figcaption>
  </figure>
  <figure class="space-y-2">
    <img
      class="lg:h-24"
      src="assets/Henkaku_Center.png"
      alt="Henkaku Center logo"
    />
    <figcaption class="font-bold text-sm">
      CIT Henkaku Center
    </figcaption>
  </figure>
</div>
</div>
