<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta
	  name="keywords"
	  content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
	/>
  
	{% if page.description %}
	<meta name="description" content="{{ page.description | strip_html }}" />
	{% endif %} {% if page.image %}
	<meta property="og:image" content="{{ page.image }}" />
	{% endif %} {% seo %}
	<meta
	  name="twitter:description"
	  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
	/>
  
	<title>{{ page.title }}</title>
  
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | relative_url }}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | relative_url }}" />
  
	<link
	  rel="stylesheet"
	  type="text/css"
	  href="{{ 'assets/main.css' | relative_url }}"
	/>
	{% if site.tags != "" %} {% include collecttags.html %} {% endif %}
  </head>
  