<div class="hero px-4 lg:py-16 py-8 max-w-screen-xl mx-auto lg:mt-8 lg:grid lg:grid-cols-2 gap-[4rem] space-y-4 lg:space-y-0">
  <div class="space-y-4 max-w-2xl">
    <div class="mx-auto">
      <h4 class="uppercase text-sm">{{include.section}}</h4>
      <h2 class="text-4xl lg:text-5xl font-bold">{{include.title}}</h2>
    </div>
    <div class="lg:text-xl space-y-2">
      {{include.content | markdownify}}
    </div>
    {% if include.actions %}
    <div class="lg:flex lg:space-x-4 py-4 space-y-2 lg:space-y-0">{{include.actions}}</div>
    {% endif %}
  </div>

  <div class="fade-in-image lg:w-[72rem] lg:h-[32rem]">
    <img
      class="border shadow-lg"
      src="{{include.image}}"
      alt="{{include.title}}"
    />
  </div>
</div>
