<section class="bg-gray-800 angled py-40 text-white {{include.theme}}">
  <div class="max-w-2xl px-4 lg:px-0 mx-auto space-y-8">
    {% if include.header %}
    <div class="space-y-4">
      <h3 class="font-semibold text-3xl text-center">{{include.header}}</h3>
      {%if include.subheader %}
      <p class="text-xl text-center">{{include.subheader}}</p>
      {% endif %}
    </div>
    {% if include.separator %}
    <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
    {% endif %} {% endif %}

    <div class="text-xl space-y-6 highlight-content">
      {{include.content | markdownify}}
    </div>
  </div>
</section>
