<a
  href="software-engineer.html"
  class="col-span-2 text-white block hover:shadow-md transition-colors hover:bg-blue-800 bg-blue-600 p-4 rounded-lg"
>
  <div class="uppercase font-semibold">I'm a Developer</div>
  <div class="text-xl">
    Show me how this works
    <i class="ri-arrow-right-line align-bottom"></i>
  </div>
</a>
<a
  href="non-technical-expert.html"
  class="col-span-2 text-white block hover:shadow-md transition-colors hover:bg-blue-800 bg-blue-600 p-4 rounded-lg"
>
  <div class="uppercase font-semibold">
    I'm <span class="underline">not</span> a Developer
  </div>
  <div class="text-xl" href="#">
    Show me how this works
    <i class="ri-arrow-right-line align-bottom"></i>
  </div>
</a>
