<div class="navigation pt-4 mx-4 border-b-2 border-stone-400">
  <div class="max-w-screen-2xl mx-auto space-y-4">
    <a href="index.html">
      <img class="w-40 lg:w-56" src="assets/logo.svg" alt="" />
    </a>
    <div>
      <nav
        class="items-center text-lg hidden lg:flex"
        role="navigation"
        aria-label="Main Navigation"
      >
        <div class="space-x-6 flex items-center">
          <a class="navigation-item" href="index.html" aria-current="page"
            >Home</a
          >
          <a class="navigation-item" href="about.html">About Us</a>
          <div class="dropdown relative navigation-item">
            <button
              class="flex items-center"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="How it works"
            >
              How it works <img src="assets/dropdown-arrow.svg" alt="" />
            </button>
            <div
              class="hidden absolute bg-white border mt-1 p-2 rounded shadow-md"
            >
              <a
                class="whitespace-nowrap hover:underline"
                href="software-engineer.html"
                >Software Engineer</a
              >
              <a
                class="whitespace-nowrap hover:underline"
                href="non-technical-expert.html"
                >Non-Technical Expert</a
              >
            </div>
          </div>
          <a
            class="navigation-item"
            href="https://demo.mathesar.org/"
            target="_blank"
            aria-label="Live Demo (opens in new tab)"
          >
            <span>Live Demo</span>
            <img
              class="inline h-3 align-baseline ml-0.5"
              src="assets/external-link.svg"
              alt="Open in new tab"
            />
          </a>
          <a class="navigation-item" href="faq.html">FAQ</a>

          <div class="dropdown relative navigation-item">
            <button
              class="flex items-center"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="How it works"
            >
              Community <img src="assets/dropdown-arrow.svg" alt="" />
            </button>
            <div
              class="hidden absolute bg-white border mt-1 p-2 rounded shadow-md"
            >
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://matrix.to/#/#mathesar:matrix.org"
                >Matrix
                <img
                  class="inline h-3 align-baseline ml-0.5"
                  src="assets/external-link.svg"
                  alt="Open in new tab"
              /></a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/community/mailing-lists"
                >Mailing Lists
                <img
                  class="inline h-3 align-baseline ml-0.5"
                  src="assets/external-link.svg"
                  alt="Open in new tab"
              /></a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/home"
              >
                Wiki
                <img
                  class="inline h-3 align-baseline ml-0.5"
                  src="assets/external-link.svg"
                  alt="Open in new tab"
                />
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://github.com/centerofci/mathesar"
              >
                Github
                <img
                  class="inline h-3 align-baseline ml-0.5"
                  src="assets/external-link.svg"
                  alt="Open in new tab"
                />
              </a>
            </div>
          </div>

          <a class="navigation-item" href="roadmap.html">Roadmap</a>
        </div>
        <div class="ml-auto">
          <a class="navigation-item" href="free-install.html"
            >Request Free Installation</a
          >
        </div>
      </nav>

      <div class="lg:hidden">
        <div class="dropdown relative navigation-item">
          <button class="flex items-center w-full">
            Menu <img src="assets/dropdown-arrow.svg" alt="" />
          </button>
          <div
            class="hidden absolute grid bg-white border w-full mt-1 p-2 rounded shadow-md z-50"
          >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="index.html"
              >Home</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="about.html"
              >About Us</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="software-engineer.html"
              >How it works - Software Engineer</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="non-technical-expert.html"
            >
              How it works - Non-Technical Expert</a
            >
            <a class="text-lg whitespace-nowrap hover:underline" href="#"
              >Live Demo</a
            >
            <a class="text-lg whitespace-nowrap hover:underline" href="faq.html"
              >FAQ</a
            >

            <div class="text-lg whitespace-nowrap"
              >Community</div
            >
            <div class="pl-4">
            <a
              target="_blank"
              class="whitespace-nowrap hover:underline block w-max"
              href="https://matrix.to/#/#mathesar:matrix.org"
              >Community - Matrix
              <img
                class="inline h-3 align-baseline ml-0.5"
                src="assets/external-link.svg"
                alt="Open in new tab"
            /></a>
            <a
              target="_blank"
              class="whitespace-nowrap hover:underline block w-max"
              href="https://wiki.mathesar.org/en/community/mailing-lists"
              >Community - Mailing Lists
              <img
                class="inline h-3 align-baseline ml-0.5"
                src="assets/external-link.svg"
                alt="Open in new tab"
            /></a>
            <a
              target="_blank"
              class="whitespace-nowrap hover:underline block w-max"
              href="https://wiki.mathesar.org/en/home"
            >
            Community - Wiki
              <img
                class="inline h-3 align-baseline ml-0.5"
                src="assets/external-link.svg"
                alt="Open in new tab"
              />
            </a>
            <a
              target="_blank"
              class="whitespace-nowrap hover:underline block w-max"
              href="https://github.com/centerofci/mathesar"
            >
            Community - Github
              <img
                class="inline h-3 align-baseline ml-0.5"
                src="assets/external-link.svg"
                alt="Open in new tab"
              />
            </a>
          </div>
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="roadmap.html"
              >Roadmap</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="free-install.html"
              >Request Free Installation</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var dropdownButtons = document.querySelectorAll(".dropdown button");

    dropdownButtons.forEach(function (dropdownButton) {
      dropdownButton.addEventListener("click", toggleDropdown);
    });

    document.addEventListener("click", function (event) {
      var isClickInside = dropdownButtons[0].contains(event.target);
      if (!isClickInside) {
        hideAllDropdown();
      }
    });

    var navigationItems = document.querySelectorAll(".navigation-item");

    navigationItems.forEach(function (navigationItem) {
      if (navigationItem.href == window.location.href) {
        navigationItem.classList.add("font-bold");
      }
    });

    var dropdownLinks = document.querySelectorAll(".dropdown a");
    dropdownLinks.forEach(function (dropdownLink) {
      if (dropdownLink.href == window.location.href) {
        dropdownLink.classList.add("font-bold");
      }
    });

    function toggleDropdown() {
      var dropdownMenu = this.nextElementSibling;
      dropdownMenu.classList.toggle("hidden");
    }

    function hideAllDropdown() {
      var dropdownMenus = document.querySelectorAll(".dropdown .hidden");
      dropdownMenus.forEach(function (dropdownMenu) {
        dropdownMenu.classList.add("hidden");
      });
    }
  </script>
</div>
