<div class="navigation pt-4 mx-4 border-b-2 border-stone-400 relative">
  <div class="max-w-screen-xl mx-auto space-y-4">
    <div class="flex items-center justify-between">
      <a href="{{ 'index.html' | relative_url }}">
        <img
          class="w-40 lg:w-56"
          src="{{ '/assets/logo.svg' | relative_url }}"
          alt="Mathesar's Logo"
        />
      </a>
      <a
        href="https://github.com/centerofci/mathesar"
        class="hover:opacity-70 transition-colors bg-stone-200 shadow-md invert py-2 sm:px-3 pr-2 absolute right-0 top-0 flex items-center space-x-2 text-xs lg:text-lg font-semibold"
        aria-label="Visit Mathesar on Github"
        target="_blank"
      >
        <span class="text-gray-900 sm:block hidden">Star us on</span>
        <span class="text-gray-900">GitHub</span>
        <img
          src="{{ '/assets/github-logo.svg' | relative_url }}"
          alt="Github Logo"
          class="align-bottom opacity-90"
          alt="Github Logo"
        />
      </a>
    </div>
    <div>
      <nav
        class="items-center text-lg hidden lg:flex navigation"
        role="navigation"
        aria-label="Main Navigation"
      >
        <div class="space-x-6 flex items-center">
          <a class="navigation-item" href="{{ 'about.html' | relative_url }}"
            >About Us</a
          >
          <div class="dropdown relative navigation-item">
            <button
              class="flex items-center"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="How it works"
            >
              How it Works
              <img
                src="{{ '/assets/dropdown-arrow.svg' | relative_url }}"
                alt=""
              />
            </button>
            <div
              class="hidden absolute bg-white border mt-1 p-2 rounded shadow-md z-10"
            >
              <a
                class="whitespace-nowrap hover:underline"
                href="{{ 'software-engineer.html' | relative_url }}"
                >Software Engineer</a
              >
              <a
                class="whitespace-nowrap hover:underline"
                href="{{ 'non-technical-expert.html' | relative_url }}"
                >Non-Technical Expert</a
              >
              <a
                class="whitespace-nowrap hover:underline"
                href="{{ 'faq.html' | relative_url }}"
                >FAQ</a
              >
            </div>
          </div>
          <a
            class="navigation-item"
            href="{{ 'blog' | relative_url }}"
            aria-label="Blog"
          >
            <span>Blog</span>
          </a>
          <a
            class="navigation-item"
            href="https://demo.mathesar.org/"
            target="_blank"
            aria-label="Live Demo (opens in new tab)"
          >
            <span>Live Demo</span>
          </a>
          <a
            class="navigation-item"
            href="https://docs.mathesar.org/"
            target="_blank"
            aria-label="Docs (opens in new tab)"
          >
            <span>Docs</span>
          </a>
          <div class="dropdown relative navigation-item">
            <button
              class="flex items-center"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="How it works"
            >
              Community
              <img
                src="{{ '/assets/dropdown-arrow.svg' | relative_url }}"
                alt=""
              />
            </button>
            <div
              class="hidden absolute bg-white border mt-1 p-2 rounded shadow-md z-50"
            >
              <a
                class="whitespace-nowrap hover:underline block w-max"
                href="{{ 'roadmap.html' | relative_url }}"
                >Roadmap</a
              >
              <a
                class="whitespace-nowrap hover:underline block w-max"
                href="{{ 'mailing-list.html' | relative_url }}"
                >Email updates</a
              >
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://github.com/centerofci/mathesar"
              >
                GitHub
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/community/matrix"
                >Matrix (chat)
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/community/mailing-lists"
                >Mailing lists
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/"
              >
                Wiki
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://discord.gg/enaKqGn5xx"
                >Discord
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://www.reddit.com/r/mathesar_org/"
                >Reddit
              </a>
            </div>
          </div>
          <a
            class="navigation-item"
            href="{{ 'sponsor.html' | relative_url }}"
            aria-label="Sponsor"
          >
            <span>Sponsor</span>
          </a>
        </div>
        <div class="ml-auto">
          <a
            class="navigation-item font-semibold"
            href="{{ 'free-install.html' | relative_url }}"
            >Request Free Installation</a
          >
        </div>
      </nav>

      <div class="lg:hidden">
        <div class="dropdown relative navigation-item">
          <button class="flex items-center w-full">
            Menu
            <img
              src="{{ '/assets/dropdown-arrow.svg' | relative_url }}"
              alt=""
            />
          </button>
          <div
            class="hidden absolute grid bg-white border w-full mt-1 p-2 rounded shadow-md z-50"
          >
            <a
              class="text-lg whitespace-nowrap hover:underline "
              href="{{ 'index.html' | relative_url }}"
              >Home</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'about.html' | relative_url }}"
              >About Us</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'software-engineer.html' | relative_url }}"
              >How it works - Software Engineer</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'non-technical-expert.html' | relative_url }}"
            >
              How it Works - Non-Technical Expert</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'sponsors.html' | relative_url }}"
              >Sponsors</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'blog' | relative_url }}"
              >Blog</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="https://demo.mathesar.org/"
              target="_blank"
              aria-label="Live Demo (opens in new tab)"
              >Live Demo</a
            >
            <a class="text-lg whitespace-nowrap hover:underline" href="faq.html"
              >FAQ</a
            >

            <div class="text-lg whitespace-nowrap">Community</div>
            <div class="pl-4">
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://matrix.to/#/#mathesar:matrix.org"
                >Community - Matrix
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/community/mailing-lists"
                >Community - Mailing Lists
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://wiki.mathesar.org/en/home"
              >
                Community - Wiki
              </a>
              <a
                target="_blank"
                class="whitespace-nowrap hover:underline block w-max"
                href="https://github.com/centerofci/mathesar"
              >
                Community - Github
              </a>
            </div>
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'roadmap.html' | relative_url }}"
              >Roadmap</a
            >
            <a
              class="text-lg whitespace-nowrap hover:underline"
              href="{{ 'free-install.html' | relative_url }}"
              >Request Free Installation</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var dropdownButtons = document.querySelectorAll(".dropdown button");
    var currentlyOpenDropdown;

    dropdownButtons.forEach(function (dropdownButton) {
      dropdownButton.addEventListener("click", function () {
        if (currentlyOpenDropdown === this.nextElementSibling) {
          currentlyOpenDropdown.classList.toggle("hidden");
          currentlyOpenDropdown = null;
        } else {
          if (currentlyOpenDropdown) {
            currentlyOpenDropdown.classList.toggle("hidden");
          }
          currentlyOpenDropdown = this.nextElementSibling;
          currentlyOpenDropdown.classList.toggle("hidden");
        }
      });
    });

    document.addEventListener("click", function (event) {
      var isClickInside = false;
      dropdownButtons.forEach(function (dropdownButton) {
        if (dropdownButton.contains(event.target)) {
          isClickInside = true;
        }
      });

      if (!isClickInside && currentlyOpenDropdown) {
        currentlyOpenDropdown.classList.toggle("hidden");
        currentlyOpenDropdown = null;
      }
    });

    document.addEventListener("DOMContentLoaded", function () {
      var navigationItems = document.querySelectorAll(".navigation a");

      navigationItems.forEach(function (navigationItem) {
        var navHref = navigationItem.getAttribute("href") || "";
        var locationPath = window.location.pathname;

        navHref = navHref.endsWith("/") ? navHref.slice(0, -1) : navHref;
        locationPath = locationPath.endsWith("/")
          ? locationPath.slice(0, -1)
          : locationPath;

        if (navHref === "." && locationPath === "") navHref = "/";

        var isBlogPage =
          locationPath.includes("/blog") && navHref.includes("blog");

        if (navHref === locationPath || isBlogPage) {
          navigationItem.classList.add("font-bold");
          //look at the parent divs unitl we find the dropdown
          var parent = navigationItem.parentElement;
          while (parent) {
            if (parent.classList.contains("dropdown")) {
              parent.querySelector("button").classList.add("font-bold");
              break;
            }
            parent = parent.parentElement;
          }
        }
      });
    });


    function toggleDropdown() {
      var dropdownMenu = this.nextElementSibling;
      dropdownMenu.classList.toggle("hidden");
    }

    function hideAllDropdown() {
      var dropdownMenus = document.querySelectorAll(".dropdown-menu");
      dropdownMenus.forEach(function (dropdownMenu) {
        dropdownMenu.classList.toggle("hidden");
      });
    }
  </script>
</div>
