<div class="space-y-4 navigation">
  <a href="index.html">
    <img class="w-64" src="../assets/logo.svg" alt="" />
  </a>
  <div>
    <!--mathesar's navigation-->
    <nav class="flex items-center text-lg border-b-2 border-stone-400">
      <div class="space-x-4 flex items-center">

        <a href="about.html">About Us</a>
        <div class="dropdown relative">
          <button>How it Works</button>
          <div class="hidden absolute bg-white border p-4 rounded shadow-md">
            <a class="whitespace-nowrap" href="software-engineer.html">Software Engineer</a>
            <a class="whitespace-nowrap" href="non-technical-expert.html">Non-Technical Expert</a>
          </div>
        </div>
        <!-- a dropdown menu for how it works -->

        <a href="#">Live Demo</a>
        <a href="faq.html">FAQ</a>
        <a href="community.html">Community</a>
        <a href="roadmap.html">Roadmap</a>
      </div>
      <div class="ml-auto">
        <a href="free-install.html">Request Free Installation</a>
      </div>
    </nav>
  </div>
</div>

<script>
  // Get all dropdown buttons
  var dropdownButtons = document.querySelectorAll(".dropdown button");

  // Loop through each dropdown button
  dropdownButtons.forEach(function (dropdownButton) {
    // Add a click event listener to each dropdown button
    dropdownButton.addEventListener("click", function () {
      // Get the dropdown menu
      var dropdownMenu = dropdownButton.nextElementSibling;

      // Toggle the "hidden" class on the dropdown menu
      dropdownMenu.classList.toggle("hidden");
    });
  });
</script>
