<div class="max-w-2xl space-y-8 mx-auto px-4 lg:px-0 py-16 page-header">
  <h2 class="font-bold text-3xl lg:text-5xl text-center space-y-2">
    {{include.header | markdownify}}
  </h2>
  <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
  {% if include.subheader %}
  <div
    class="text-lg lg:text-2xl space-y-4 text-{{include.alignment | default: 'left'}}"
  >
    {{include.subheader | markdownify}}
  </div>
  {% endif %} {% if include.actions %}
  <div class="space-x-4 flex items-center">{{include.actions}}</div>
  {% endif %}
</div>
