<div class="mt-20 mb-10 border-y-2 border-stone-300">
  <div class="container mx-auto space-x-4 flex py-10">{{include.content}}</div>
</div>

<div class="px-16 mb-20">
    <ul class="flex justify-between uppercase font-semibold text-sm">
      <li class="flex items-center space-x-2">
        <img src="assets/postgres-icon.svg" alt="" />
        <span>Built on Postgres</span>
      </li>
      <li class="flex items-center space-x-2">
        <img src="assets/heart-icon.svg" alt="" />
        <span>Free & Open Source</span>
      </li>
      <li class="flex items-center space-x-2">
        <img src="assets/rocket-icon.svg" alt="" />
        <span>Alpha Release Coming Soon</span>
      </li>
      <li class="flex items-center space-x-2">
        <img src="assets/shield-icon.svg" alt="" />
        <span>Self-Hosted</span>
      </li>
    </ul>
  </div>
