<div class="flex justify-end bg-stone-300 my-8 px-16 angled">
  <div class="w-2/3 mx-auto flex">
    <div class="bg-gray-200 flex-grow">
      <img src="{{include.image}}" alt="{{include.author}}" class="w-full h-full object-cover">
    </div>
    <div class="space-y-4 w-3/4 ml-8">
      <div class="border-gray-800 pl-4 border-l-4 space-y-2">
        <p class="text-3xl italic">"{{include.excerpt}}"</p>
        <p class="text-lg">{{include.author}}</p>
      </div>
      <div class="text-lg italic">{{include.quote | markdownify}}</div>
    </div>
  </div>
</div>
