<div
  class="text-center bg-white p-8 shadow-md rounded {{include.theme}} max-w-xl mx-auto"
>
  <div class="mx-auto space-y-4">
    <div>
      <h3 class="font-semibold text-2xl">{{include.header}}</h3>
      {%if include.subheader %}
      <p class="text-xl">{{include.subheader}}</p>
      {% endif %}
    </div>
    <div class="text-xl space-y-6 highlight-content">
      {{include.content | markdownify}}
    </div>
  </div>

  <!--insert link to github issue-->
  <div class="flex justify-center mt-4">
    <a href="{{include.url}}">Go to Github Discussion</a>
  </div>
</div>
