<div
  class="h-40 text-center bg-white p-4 shadow-lg border-stone-200 border-t-4 space-y-1 rounded {{include.theme}} flex justify-center flex-col w-full"
>
  <h3 class="font-semibold text-xl">{{include.header}}</h3>
  <div class="mx-auto space-y-4 border">
    <div class="text-xl space-y-6 highlight-content">
      {{include.content | markdownify}}
    </div>
  </div>

  {% if include.url %}
  <a class="text-blue-600 w-max mx-auto py-1 px-3 rounded hover:underline" href="{{include.url}}">View Discussion
    </a>
  {% endif %}
</div>
