<div
  id="survey-banner"
  class="sticky top-0 bg-blue-600 text-white p-3 flex justify-between items-center z-50"
>
  <div class="text-lg space-x-2">
    <span class="font-bold">Help shape Mathesar!</span>
    <span>Share your thoughts in our quick survey: </span>

    <a
      href="https://forms.gle/yjxiEQr9QzTT5GCSA"
      target="_blank"
      class="underline text-white"
      >Take it here</a
    >
  </div>
  <button
    id="close-banner"
    class="bg-zinc-800 hover:bg-zinc-700 p-2 rounded-lg"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 text-white"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        strokeWidth="4"
        d="M6 18L18 6M6 6l12 12"
      ></path>
    </svg>
  </button>
</div>

<script>
  if (sessionStorage.getItem("survey-banner-closed") === "true") {
    document.getElementById("survey-banner").style.display = "none";
  }

  document
    .getElementById("close-banner")
    .addEventListener("click", function () {
      document.getElementById("survey-banner").style.display = "none";
      sessionStorage.setItem("survey-banner-closed", "true");
    });
</script>
