<section class="angled lighter space-y-10 px-4">
  <div class="mx-auto max-w-2xl space-y-8">
    <h3 class="text-4xl font-bold text-center">The people behind Mathesar</h3>
    <div class="lg:flex space-x-8">
      <p class="text-xl flex-grow text-center">
        Mathesar is maintained by the Mathesar Foundation, a 501(c)(3) nonprofit
        based out of the US.
      </p>
    </div>
  </div>

  <div class="mx-auto space-y-8">
    <h3 class="text-3xl font-bold text-center">Our Board Members</h3>
    <div
      class="max-w-4xl mx-auto flex items-start justify-center gap-12 auto-rows-auto"
    >
      {% for member in site.data.board_members %} {% include member-profile.html
      member=member size="large" %} {% endfor %}
    </div>

    <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>

    <h3 class="text-2xl font-bold text-center">Advisory Board</h3>
    <div
      class="max-w-4xl mx-auto flex items-start justify-center gap-12 auto-rows-auto"
    >
      {% for member in site.data.advisory_board %} {% include
      member-profile.html member=member size="medium" %} {% endfor %}
    </div>

    <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>

    <h3 class="text-2xl font-bold text-center">Other Foundation Staff</h3>
    <div
      class="max-w-4xl mx-auto flex items-start justify-center gap-12 auto-rows-auto"
    >
      {% for member in site.data.foundation_staff %} {% include
      member-profile.html member=member size="medium" %} {% endfor %}
    </div>
  </div>
</section>

<section class="angled light space-y-10 px-4">
  <div class="mx-auto max-w-2xl space-y-2 text-center">
    <div>
      <h4 class="text-3xl font-bold">Maintainers</h4>
      <p class="text-xl">+ databases in our personal life</p>
    </div>
    <div class="space-y-4 text-lg">
      <p>
        We're a group of industry veterans with a love of open source. Our core
        team members have founded startups and worked at a variety of companies
        – from nonprofits to large multinational companies. We've also led
        projects in large open source communities like
        <strong>Creative Commons</strong>, <strong>CiviCRM</strong>, and
        <strong>Ember.js</strong>.
      </p>
      <div class="w-20 border-t-2 border-stone-400 mx-auto"></div>
    </div>
  </div>

  <div
    class="max-w-6xl mx-auto grid lg:grid-cols-2 grid-flow-row gap-8 auto-rows-auto"
  >
    {% for member in site.data.core_team %}
    <div class="space-y-2 lg:flex items-start lg:space-x-4 h-auto">
      <img src="assets/{{member.image}}" class="w-24 lg:w-40 lg:mt-4" alt="" />
      <div class="space-y-2">
        <div>
          <h4 class="text-xl font-semibold">{{member.name}}</h4>
          <div>{{member.role}}</div>
        </div>
        <div class="italic space-y-2 quote">{{member.bio | markdownify}}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="mx-auto max-w-4xl space-y-8">
    <h3 class="text-2xl font-bold text-center">Our contributors</h3>
    <div class="flex items-center gap-2 flex-wrap justify-center">
      {% for contributor in site.data.contributors %}

      <a class="icon-link" href="{{contributor.profile_url}}" target="_blank">
        <img
          class="rounded-full w-16 h-16 m-2"
          src="{{contributor.profile_image}}"
          alt="{{contributor.name}}"
          title="{{contributor.name}}"
        />
      </a>

      {% endfor %}
    </div>
  </div>
</section>
