<section class="angled light px-8">
  <div class="mx-auto space-y-10 max-w-4xl">
    <h3 class="text-3xl text-center font-bold">Use Cases</h3>

    <div class="grid lg:grid-cols-2 gap-16 text-center">
      <div class="space-y-4">
        <div class="bg-stone-400 h-40"></div>
        <div>
          <h4 class="text-2xl font-bold">Prototype New Ideas</h4>
          <p class="text-xl">
            Quickly fill in any gaps using Mathesar’s interface
          </p>
        </div>
        <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
        <p class="text-lg">
            Prototype experiences quickly. Swap Mathesar in for the parts you haven’t built yet so you can speed up your workflow.
        </p>
      </div>
      <div class="space-y-4">
        <div class="bg-stone-400 h-40"></div>
        <div>
          <h4 class="text-2xl font-bold">Database Admin Interface</h4>
          <p class="text-xl">
            Gain different views of your data
          </p>
        </div>
        <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
        <p class="text-lg">
            Open up access to your existing Postgres database – giving non-technical collaborators the freedom to enter data or explore new insights.
            <br/><br/>They can query data across multiple tables.
        </p>
      </div>
      <div class="space-y-4">
        <div class="bg-stone-400 h-40"></div>
        <div>
          <h4 class="text-2xl font-bold">Publish Data Sets</h4>
          <p class="text-xl">
            Let other people explore your data freely
          </p>
        </div>
        <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
        <p class="text-lg">
            Exporting your data as CSVs often causes your data to lose some integrity.<br/> 
            Publishing your data using Mathesar’s interface allows you to retain your data’s schema and format.<br/><br/>
            Users can use the interface to explore your data and find insights. 
        </p>
      </div>
      <div class="space-y-4">
        <div class="bg-stone-400 h-40"></div>
        <div>
          <h4 class="text-2xl font-bold">Data Consolidation</h4>
          <p class="text-xl">
            Bring data from different sources into a single format
          </p>
        </div>
        <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
        <p class="text-lg">
            Import data from multiple sources and consolidate them into a single format.<br/> 
            Set up constraints at the column level to ensure data validation and integrity for new data.
            
        </p>
      </div>
    </div>
    <div class="text-center space-y-2">
      <h4 class="text-xl font-bold">You could also use Mathesar to:</h4>
      <div class="w-20 border-t-2 border-stone-400 mx-auto"></div>
      <ul>
        <li>Manage a project</li>
        <li>Track expenses</li>
        <li>Plan an event</li>
        <li>Set up a custom CRM</li>
        <li>...and a lot more!</li>
      </ul>
      <div class="w-20 border-t-2 border-stone-400 mx-auto"></div>
    </div>
  </div>
</section>
