<section class="bg-stone-50 py-20">
  <div class="space-y-8">
    <div class="text-center space-y-2">
      <h3 class="text-4xl font-bold">Use Cases</h3>
      <p class="text-xl">
        Here's what you could set up in your first
        <span class="font-semibold">30 mins</span> of using Mathesar:
      </p>
    </div>
    <div class="w-40 border-t-2 border-stone-200 mx-auto"></div>
    <div
      class="lg:flex lg:justify-center lg:px-20 lg:space-x-8 px-4 mx-auto space-y-2 lg:space-y-0 js-enabled"
    >
      <div
        class="lg:w-80 shrink-0 gap-1 flex lg:block flex-wrap justify-center"
      >
        {% for item in site.data.use_cases[page.title] %}
        <button
          class="use-case-button p-2 lg:text-lg lg:block lg:w-full rounded-lg text-left hover:bg-stone-100"
          onclick="updateScreenshot('{{item.image}}')"
          id="button-{{ forloop.index }}"
        >
          {{item.use_case}}
        </button>

        {% if item.description %}
        <div
          class="use-case-description text-center lg:text-left py-4 pl-4 hidden order-last w-full"
          id="description-{{ forloop.index }}"
        >
          {{item.description}}
        </div>
        {% endif %} {% endfor %}
      </div>

      <div
        class="bg-gray-800 p-8 max-w-6xl rounded-lg shadow-lg flex flex-col justify-center"
      >
        <img
          class="rounded-lg shadow-lg screenshot"
          src="assets/{{site.data.use_cases[page.title][0].image}}"
          alt=""
        />
      </div>
    </div>
    <noscript>
      <div class="js-disabled">
        <div
          class="lg:max-w-2xl shrink-0 gap-1 flex lg:block flex-wrap justify-center mx-auto"
        >
          {% for item in site.data.use_cases[page.title] %}

          <div class="text-xl">{{item.use_case}}</div>

          <div class="py-4 pl-4">
            {{item.description}}
            <img
              class="rounded-lg shadow-lg screenshot"
              src="assets/{{item.image}}"
              alt=""
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </noscript>
  </div>
</section>

<noscript>
  <style>
    .js-disabled {
      display: block;
    }

    .js-enabled {
      display: none;
    }
  </style>
</noscript>

<script>
  document
    .getElementById("button-1")
    .classList.add("bg-stone-200", "font-bold");
  document.getElementById("description-1").classList.remove("hidden");

  function updateScreenshot(image) {
    document.querySelector(".screenshot").src = "assets/" + image;
    var button = event.target.closest("button");
    var buttons = document.querySelectorAll(".use-case-button");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].classList.remove("bg-stone-200", "font-bold");
      var descriptionId = "description-" + (i + 1);
      var description = document.getElementById(descriptionId);
      if (description) {
        description.classList.add("hidden");
      }
    }
    var buttonId = button.id;
    var index = buttonId.split("-")[1] - 1;
    button.classList.add("bg-stone-200", "font-bold");
    var descriptionId = "description-" + (index + 1);
    var description = document.getElementById(descriptionId);
    if (description) {
      description.classList.remove("hidden");
    }
  }
</script>
