---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nunito-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/nunito-sans-v12-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/nunito-sans-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/nunito-sans-v12-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-600italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/nunito-sans-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/nunito-sans-v12-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-700italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/nunito-sans-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800italic - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/nunito-sans-v12-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nunito-sans-v12-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nunito-sans-v12-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nunito-sans-v12-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/nunito-sans-v12-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nunito-sans-v12-latin-800italic.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p > a {
  @apply text-blue-600 bg-blue-200 bg-opacity-25 px-1;
}

p > a:hover {
  @apply text-blue-800 underline;
}

.md-content {
  @apply leading-8;
}

.md-content h1 {
  @apply text-5xl font-black mb-4;
}

.md-content h2 {
  @apply text-3xl font-bold mb-3;
}

.md-content > h3 {
  @apply text-2xl font-bold mb-2;
}

.md-content h4 {
  @apply text-xl font-bold mb-2;
}

.md-content h5 {
  @apply text-lg font-bold mb-2;
}

.md-content ul {
  @apply list-disc list-inside space-y-2 my-4;
}

.md-content a {
  @apply text-blue-500;
}

.md-content p + h2, .md-content p + h3, .md-content p + h4, .md-content p + h5 {
  @apply mt-8;
}

.md-content > p {
  @apply mb-2;
}

.md-content p:last-child {
  @apply mb-0;
}

.md-content hr {
  @apply my-8;
}

a[href^="http"]:not(.icon-link):not(.button):not(.avatar-link)::after,
a[href^="https://"]:not(.icon-link):not(.button):not(.avatar-link)::after
{
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.hero p strong {
  @apply font-bold;
}

.navigation-item {
  @apply block border-b-2 border-transparent hover:border-red-500 transition-colors duration-300;
}

.angled {
  @apply py-16;
  position: relative;
}

.angled.dark {
  @apply bg-gray-900 text-white;
}

.angled.dark input,
.angled.dark textarea {
  @apply text-gray-800;
}

.angled.light {
  @apply bg-stone-200 text-gray-800;
}

.angled.lighter {
  @apply bg-stone-100 text-gray-800;
}

.angled::before,
.angled::after {
  content: "";
  height: 4rem;
  width: 100%;
  background-color: inherit;
  position: absolute;
  transform: skew(0deg, -1deg);
  left: 0;
}

.angled::before {
  top: -2rem;
}

.angled::after {
  bottom: -2rem;
}

.angled + .angled {
  @apply mt-10;
}

.page-header + .angled {
  @apply mt-20;
}

.highlight-content a {
  @apply text-blue-500;
}

.highlight-content ul {
  @apply space-y-4 max-w-md mx-auto list-disc list-inside;
}

.highlight-content ul li {
  @apply mb-2;
}

.dark .highlight-content strong {
  @apply font-bold text-blue-200;
}

.dark .highlight-content a {
  @apply text-blue-400;
}

.list-check > li:before {
  content: "✔";
  @apply text-lime-500 mr-4;
}

.list-check .highlighted {
  @apply text-lime-200 bg-opacity-25 px-1 font-bold;
}

.list-cancel > li:before {
  content: "✖";
  @apply text-rose-500 mr-4;
}

.list-cancel .highlighted {
  @apply text-rose-300 bg-opacity-25 px-1 font-bold;
}

.button {
  @apply bg-blue-600;
}

.button.secondary {
  @apply bg-gray-800;
}

.button.sm {
  @apply p-4 text-sm;
}

.faq-section h3 {
  @apply text-2xl mb-4;
}

.faq-section p {
  @apply text-gray-600;
}

.faq-section ul {
  @apply list-disc list-inside my-4 space-y-2;
}

.faq-section p + p {
  @apply mt-4;
}

.faq-section p + h3 {
  @apply mt-8;
}

.fade-in-image {
  @apply object-cover object-center relative z-0;
}

.fade-in-image img {
  @apply rounded-lg shadow-lg overflow-hidden;
}

.fade-in-image::after {
  --light-color: 255, 255, 255;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(
    180deg,
    rgba(var(--light-color), 0) 0%,
    rgba(var(--light-color), 0.8) 100%
  );
}

.screenshot-content {
  @apply text-xl;
}

.screenshot-content h3 {
  @apply text-3xl font-black;
}

.screenshot-content h4 {
  @apply text-2xl font-semibold;
}

/* The Modal (background) */
.modal {
  @apply fixed inset-0 z-50 overflow-hidden bg-gray-900 bg-opacity-80 left-0 top-0 w-full h-full hidden;
}

/* Modal Content */
.modal-content {
  @apply m-auto block flex flex-col justify-center items-center h-full w-full;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.screenshot-url {
  @apply block relative;
}

.screenshot-url::after {
  content: "Click to enlarge";
  @apply absolute bottom-[-1.5rem] text-sm font-semibold text-gray-400;
}