<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body
    class="bg-stone-50 text-gray-800 overflow-hidden overflow-y-scroll min-h-screen flex flex-col relative"
  >
  {% include survey_banner.html %}
    <div>{% include navigation.html %}</div>

    <div class="flex-grow">{{ content }}</div>
    {% include footer.html %}
   
    <script async defer src="https://sa.mathesar.org/latest.js"></script>
    <script async src="https://sa.mathesar.org/auto-events.js"></script>
    <noscript>
      <img
        src="https://sa.mathesar.org/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      />
    </noscript>
  </body>



  <script>
    // Formspree forms AJAX request script

    function sendFormDataToFormspree(event, form) {
      const data = new FormData(event.target);

      return fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: { Accept: "application/json" },
      })
        .then((response) => {
          if (response.ok) {
            form.reset();
          } else {
            throw new Error("");
          }
        })
        .catch((error) => {
          throw new Error("");
        });
    }

    function loadingStateManager(formId) {
      const buttonElement = document.querySelector(
        `#${formId} button[type="submit"]`
      );
      const originalText = buttonElement.innerHTML;
      return {
        setLoading: function () {
          buttonElement.innerHTML = "Loading...";
          buttonElement.disabled = true;
        },
        unsetLoading: function () {
          buttonElement.innerHTML = originalText;
          buttonElement.disabled = false;
        },
      };
    }

    function showSuccessText(formId) {
      const successText = document.querySelector(`#${formId} .success-text`);
      successText.innerHTML = "Thanks for your submission!";
      successText.classList.remove("hidden");
      setTimeout(() => {
        successText.classList.add("hidden");
      }, 5000);
    }

    function showErrorText(formId) {
      const errorText = document.querySelector(`#${formId} .error-text`);
      errorText.innerHTML = "Oops! There was a problem submitting your form";
      errorText.classList.remove("hidden");
      setTimeout(() => {
        errorText.classList.add("hidden");
      }, 5000);
    }
  </script>


</html>
