<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
    />
    <title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />

    <link rel="stylesheet" type="text/css" href="assets/main.css" />

  </head>
  <body class="bg-stone-50 text-gray-800 overflow-x-hidden">
    <div>{% include navigation.html %}</div>

    {{ content }} {% include cta.html %} {% include footer.html %}

  <script>
    // when feature-card element add flex inverse to odd elements
    const featureCards = document.querySelectorAll(".feature-card");
    featureCards.forEach((card, index) => {
      if (index % 2 !== 0) {
        card.classList.add("flex-row-reverse");
      }
    });
  </script>

  <script>
    // Formspree forms AJAX request script

    function sendFormDataToFormspree(event, form) {
      const data = new FormData(event.target);

      return fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: { Accept: "application/json" },
      })
        .then((response) => {
          if (response.ok) {
            form.reset();
          } else {
            throw new Error("");
          }
        })
        .catch((error) => {
          throw new Error("");
        });
    }

    function loadingStateManager(formId) {
      const buttonElement = document.querySelector(
        `#${formId} button[type="submit"]`
      );
      const originalText = buttonElement.innerHTML;
      return {
        setLoading: function () {
          buttonElement.innerHTML = "Loading...";
          buttonElement.disabled = true;
        },
        unsetLoading: function () {
          buttonElement.innerHTML = originalText;
          buttonElement.disabled = false;
        },
      };
    }

    function showSuccessText(formId) {
      const successText = document.querySelector(`#${formId} .success-text`);
      successText.innerHTML = "Thanks for your submission!";
      successText.style.display = "block";
      setTimeout(() => {
        successText.style.display = "none";
      }, 5000);
    }

    function showErrorText(formId) {
      const errorText = document.querySelector(`#${formId} .error-text`);
      errorText.innerHTML = "Oops! There was a problem submitting your form";
      errorText.style.display = "block";
      setTimeout(() => {
        errorText.style.display = "none";
      }, 5000);
    }



  </script>
</html>
