<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
    />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;800;900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body class="bg-stone-50 text-gray-800">
    <div>{% include navigation.html %}</div>

    {% include page-header.html header='Frequently Asked Questions' %}

    <div
      class="max-w-4xl relative mx-auto flex-col-reverse flex flex-col lg:flex-row items-start lg:space-x-16"
    >
      <div class="lg:p-0 p-4">{{ content }}</div>
      <div
        id="table-of-contents"
        class="lg:sticky top-0 right-0 w-full lg:w-80 shrink-0 bg-stone-100 p-4"
      ></div>
    </div>

    {% include cta.html %}
    
    {% include footer.html %}

    <script
      async
      defer
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
    /></noscript>
  </body>

  <script>
    const toc = document.querySelector("#table-of-contents");
    const sections = document.querySelectorAll(".faq-section");
    const fragment = document.createDocumentFragment();

    for (const section of sections) {
      const sectionID = section.id;
      const sectionTitle = section.querySelector("h4").innerText;
      const link = document.createElement("a");
      link.href = `#${sectionID}`;
      link.textContent = sectionTitle;
      link.classList.add(
        "block",
        "hover:text-blue-600",
        "mb-2",
        "font-bold",
        "text-sm",
        "text-red-600"
      );
      fragment.appendChild(link);

      const subsections = section.querySelectorAll("h3");
      for (const subsection of subsections) {
        const subsectionID = subsection.id;
        const subsectionTitle = subsection.innerText;
        const link = document.createElement("a");
        link.href = `#${subsectionID}`;
        link.textContent = subsectionTitle;
        link.classList.add(
          "block",
          "hover:text-blue-600",
          "hover:bg-stone-200",
          "px-2",
          "rounded",
          "ml-4",
          "mb-2"
        );
        fragment.appendChild(link);
      }
    }

    toc.appendChild(fragment);
  </script>
</html>
