<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
    />
    <title>Mathesar</title>

    <link rel="stylesheet" type="text/css" href="assets/main.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body class="bg-stone-50 text-gray-800">
    <div>{% include navigation.html %}</div>

    {{ content }}

    <div class="angled dark my-10">
      <div class="lg:w-2/5 p-4 lg:p-0 mx-auto text-center space-y-10">
        <div class="space-y-4">
          <h2 class="text-4xl lg:text-5xl font-semibold">
            Your data is a representation of you.
          </h2>
          <p class="text-xl">
            Your workflows. Projects. And opportunities.
          </p>
        </div>

        <div class="w-40 border-t-2 border-stone-200 mx-auto"></div>

        <div class="space-y-2">
          <h3 class="text-2xl lg:text-3xl font-semibold">
            But too many data tools limit you from managing your data your way.
          </h3>
          <p class="text-xl">
            Here are some root causes of this issue:
          </p>
        </div>

        <!--svg for red X icon-->

        <ul class="text-left text-lg space-y-6 list-check">
          <li class="flex items-start space-x-4">
            <span>
              Spreadsheets don’t have strict structures – so it’s hard to keep
              your data consistent and valid. This limits your potential to
              reuse. And often leads to faulty data.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <span>
              When your data is scattered in different places, it’s hard to get
              one view into everything. Your stored data can’t be modified by
              other software.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <span>
              Cloud-based solutions tend to restrict your data management. The
              number of rows you can have – limited. The ability to own your
              data – limited. Getting quick answers – limited.
            </span>
          </li>
        </ul>

        <div class="w-40 border-t-2 border-stone-100 mx-auto"></div>

        <div class="space-y-2">
          <h3 class="text-2xl lg:text-3xl font-semibold">
            You can truly own your data – with Mathesar’s open source interface.
          </h3>
          <p class="text-xl">
            Give your collaborators freedom to explore and answer data
            questions. Quickly.
          </p>
        </div>

       

        <ul class="text-left text-lg space-y-6 list-cancel">
          <li class="flex items-start space-x-4">
            <span>
              Mathesar ensures that your data is kept consistent. So you can
              base your decisions – about projects, processes, anything – on
              more accurate data.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <span>
              You can connect Mathesar to your existing Postgres database. Use
              Mathesar with the many tools that integrate with Postgres – to
              explore your data even deeper.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <span>
              Your data is never locked in. Self-host on your servers to
              independently manage your data. You can migrate or go back and
              forth from Mathesar at any time.
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="angled bg-stone-300 my-10">
      <div class="container mx-auto space-y-4">
        <div class="grid grid-cols-8 gap-8 items-center px-4 lg:px-0">
          <div class="col-span-8 lg:col-span-5 flex flex-col">
            <img
              class="rounded-lg shadow-lg my-auto"
              src="assets/screenshot.png"
              alt=""
            />
          </div>
          <div class="col-span-8 lg:col-span-3 space-y-4">
            <h3 class="text-3xl lg:text-4xl">
              Now you can rapidly enter data. And analyze that data. And ensure
              your data is fully valid.
            </h3>
            <p class="text-2xl">
              Using a self-hostable and accessible interface.
            </p>
          </div>
          
        </div>
      </div>
    </div>

    <div class="bg-stone-50 py-16">
      <div class="space-y-8 px-4 lg:px-0">
        <div class="text-center">
          <h3 class="text-4xl font-bold">Use Cases</h3>
          <p class="text-xl">
            Here’s what you could set up in your first <span class="font-semibold">30 mins</span> of using
            Mathesar:
          </p>
        </div>
        <div class="w-40 border-t-2 border-stone-200 mx-auto"></div>
        <div class="grid lg:grid-cols-3 gap-4 text-center">
          {% for use_case in site.data.use_cases %}
          <div class="bg-white rounded-lg h-48 flex flex-col">
            <div class="m-auto text-xl">{{use_case}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="bg-stone-200 angled py-16 space-y-8">
      <div class="lg:w-1/2 mx-auto space-y-8 px-4 lg:px-0">
        <div class="text-center space-y-4">
          <h3 class="text-4xl font-bold">Mathesar’s approach is unique</h3>
          <p class="text-3xl">We’re not reinventing the wheel.</p>
        </div>
        <div class="w-40 border-t-2 border-stone-400 mx-auto"></div>
        <div class="text-center space-y-6">
          <h4 class="text-2xl">
            We’re making your existing database more accessible to you – via a
            user-friendly interface.
          </h4>

          <ul class="mx-auto text-left space-y-6">
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                <span class="font-semibold"
                  >Set up relationships in the UI –</span
                >
                and these will reflect at the database level. Mathesar doesn’t
                have its own set of abstractions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Cut down on days spent re-organizing your data models –
                reconfigure schema in just minutes. So whenever your workflow
                changes, you can quickly adapt your data models – without
                disruptions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Create one view from across multiple tables – easily. Explore
                your data to gain new insights. And answer quick questions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Let Mathesar automatically guess the type of data in your
                columns – to save time doing this manually. Mathesar assumes
                data types and maintains integrity.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                De-duplicate your data – the user-friendly interface ensures
                that your collaborators input only data that is valid and
                consistent.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Straightforward UX – your team don’t need to know anything about
                database concepts. ‘Help’ icons will guide you along the way.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Postgres interface – no disruptions to your workflow since
                Mathesar works on top of your existing tools.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                No paid plans – everyone gets access to the full feature set.
              </div>
            </li>
          </ul>
        </div>
      </div>
 
    </div>

{% capture cta_content %}
Mathesar’s Alpha release is coming very soon. Please leave your details here to stay updated:
{% endcapture %}
        
{% include cta.html content=cta_content title="Find out when you can start using Mathesar" %}
    
{% include footer.html %}
    
    
  </body>
</html>
