<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
    />
    <title>Mathesar</title>

    <link rel="stylesheet" type="text/css" href="assets/main.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-stone-50 text-gray-800">
    <div class="container mx-auto space-y-12 py-16">
    {% include navigation.html %}
      <div class="grid grid-cols-8 gap-8">
        <div class="col-span-4 space-y-4">
          <div class="space-y-2">
            <h4 class="text-gray-600 uppercase text-sm font-semibold">
              Open Source Database Interface
            </h4>
            <h2 class="text-6xl font-semibold">
              Quickly enter and analyze your data – in one open source interface
            </h2>
          </div>
          <div class="text-lg space-y-2">
            <p>
              Mathesar is an open source and web-based interface that works on
              top of your database.
            </p>
            <p>
              You can enter and slice and filter and structure your data… in
              minutes. No technical skills required.
            </p>
          </div>
        </div>
        <div class="border bg-white w-full col-span-4 rounded-lg p-8">
          
        </div>
      </div>
      <div class="grid grid-cols-8 gap-8">
        <a href="#"
          class="col-span-2 block hover:shadow-md transition-colors hover:bg-blue-800 bg-blue-600 p-4 rounded-lg"
        >
          <h4 class="uppercase font-semibold text-white">I'm a Developer</h4>
          <div class="text-stone-200 text-xl">Show me how this works</div>
      </a>
        <a href="#"
          class="col-span-2 block hover:shadow-md transition-colors hover:bg-blue-800 bg-blue-600 p-4 rounded-lg"
        >
          <h4 class="uppercase font-semibold text-white">
            I'm <span class="underline">not</span> a Developer
          </h4>
          <div class="text-stone-200 text-xl" href="#">Show me how this works</div>
          </a>
      </div>
      <div>
        <ul class="flex justify-between uppercase font-semibold text-sm">
          <li class="flex items-center space-x-2">
            <img src="assets/postgres-icon.svg" alt="" />
            <span>Built on Postgres</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="assets/heart-icon.svg" alt="" />
            <span>Free & Open Source</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="assets/rocket-icon.svg" alt="" />
            <span>Alpha Release Coming Soon</span>
          </li>
          <li class="flex items-center space-x-2">
            <img src="assets/shield-icon.svg" alt="" />
            <span>Self-Hosted</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bg-stone-50">
      <!--a clipped right triangle divider-->

      <svg
        class="w-full h-16 mx-auto text-gray-800"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon fill="currentColor" points="0,100 100,0 100,100" />
      </svg>
      
    </div>
    <div class="bg-gray-800 text-white py-16">
      <div class="container mx-auto text-center space-y-10">
        <div>
          <h2 class="text-4xl font-semibold">
            Your data is a representation of you.
          </h2>
          <p class="text-lg text-gray-400">
            Your workflows. Projects. And opportunities.
          </p>
        </div>

        <div>
          <h3 class="text-2xl font-semibold">
            But too many data tools limit you from managing your data your way.
          </h3>
          <p class="text-lg text-gray-400">
            Here are some root causes of this issue:
          </p>
        </div>

        <!--svg for red X icon-->

        <ul class="text-left text-lg space-y-6 w-1/2 mx-auto">
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-red-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.293 3.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>

            <span>
              Spreadsheets don’t have strict structures – so it’s hard to keep
              your data consistent and valid. This limits your potential to
              reuse. And often leads to faulty data.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-red-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.293 3.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>

            <span>
              When your data is scattered in different places, it’s hard to get
              one view into everything. Your stored data can’t be modified by
              other software.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-red-600"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.293 3.293a1 1 0 011.414 0L10 8.586l5.293-5.293a1 1 0 111.414 1.414L11.414 10l5.293 5.293a1 1 0 01-1.414 1.414L10 11.414l-5.293 5.293a1 1 0 01-1.414-1.414L8.586 10 3.293 4.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>

            <span>
              Cloud-based solutions tend to restrict your data management. The
              number of rows you can have – limited. The ability to own your
              data – limited. Getting quick answers – limited.
            </span>
          </li>
        </ul>

        <div>
          <h3 class="text-2xl font-semibold">
            You can truly own your data – with Mathesar’s open source interface.
          </h3>
          <p class="text-lg text-gray-400">
            Give your collaborators freedom to explore and answer data
            questions. Quickly.
          </p>
        </div>

        <!-- svg for red x mark -->

        <!---svg template-->

        <ul class="text-left text-lg space-y-6 w-1/2 mx-auto">
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-green-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 13.707a1 1 0 01-1.414 0l-2-2a1 1 0 111.414-1.414L5 11.586l6.293-6.293a1 1 0 011.414 1.414l-7 7z"
                clip-rule="evenodd"
              />
            </svg>
            <span>
              Mathesar ensures that your data is kept consistent. So you can
              base your decisions – about projects, processes, anything – on
              more accurate data.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-green-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 13.707a1 1 0 01-1.414 0l-2-2a1 1 0 111.414-1.414L5 11.586l6.293-6.293a1 1 0 011.414 1.414l-7 7z"
                clip-rule="evenodd"
              />
            </svg>
            <span>
              You can connect Mathesar to your existing Postgres database. Use
              Mathesar with the many tools that integrate with Postgres – to
              explore your data even deeper.
            </span>
          </li>
          <li class="flex items-start space-x-4">
            <svg
              class="w-16 mx-auto text-green-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 13.707a1 1 0 01-1.414 0l-2-2a1 1 0 111.414-1.414L5 11.586l6.293-6.293a1 1 0 011.414 1.414l-7 7z"
                clip-rule="evenodd"
              />
            </svg>
            <span>
              Your data is never locked in. Self-host on your servers to
              independently manage your data. You can migrate or go back and
              forth from Mathesar at any time.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bg-gray-800">
      <!--a clipped right triangle divider-->

      <svg
        class="w-full h-16 mx-auto text-stone-300"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon fill="currentColor" points="0,100 100,0 100,100" />
      </svg>
      
    </div>
    <div class="bg-stone-300 py-16">
      <div class="container mx-auto space-y-4">
        <div class="grid grid-cols-8 gap-8 items-center">
          <div class="col-span-3 space-y-4">
            <h3 class="text-4xl">
              Now you can rapidly enter data. And analyze that data. And ensure
              your data is fully valid.
            </h3>
            <p class="text-xl text-gray-600">
              Using a self-hostable and accessible interface.
            </p>
          </div>
          <div class="col-span-5 h-96 bg-white rounded">SCREENSHOT</div>
        </div>
      </div>
    </div>
    <div class="bg-stone-300">
      <!--a clipped right triangle divider-->

      <svg
        class="w-full h-16 mx-auto text-stone-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon fill="currentColor" points="0,100 100,0 100,100" />
      </svg>
      
    </div>
    <div class="bg-stone-50 py-16">
      <div class="space-y-4">
        <div class="text-center">
          <h3 class="text-3xl font-semibold">Use Cases</h3>
          <p class="text-xl text-gray-600">
            Here’s what you could set up in your first 30 mins of using
            Mathesar:
          </p>
        </div>
        <div class="grid grid-cols-3 gap-4 text-center">
          <div class="bg-white h-48">Prototype New Solutions</div>
          <div class="bg-white h-48">Inventory Management</div>
          <div class="bg-white h-48">Event Planning</div>
          <div class="bg-white h-48">Prototype New Solutions</div>
          <div class="bg-white h-48">Inventory Management</div>
          <div class="bg-white h-48">Event Planning</div>
        </div>
      </div>
    </div>
    <div class="bg-stone-50">
      <!--a clipped right triangle divider-->

      <svg
        class="w-full h-16 mx-auto text-stone-300"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon fill="currentColor" points="0,100 100,0 100,100" />
      </svg>
      
    </div>
    <div class="bg-stone-300 py-16 space-y-8">
      <div class="container mx-auto space-y-4">
        <div class="text-center">
          <h3 class="text-4xl font-semibold">Mathesar’s approach is unique</h3>
          <p class="text-xl text-gray-600">We’re not reinventing the wheel.</p>
        </div>
        <div class="text-center space-y-6">
          <h4 class="text-xl font-semibold">
            We’re making your existing database more accessible to you – via a
            user-friendly interface.
          </h4>

          <ul class="mx-auto text-left w-1/2 space-y-6">
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                <span class="font-semibold"
                  >Set up relationships in the UI –</span
                >
                and these will reflect at the database level. Mathesar doesn’t
                have its own set of abstractions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Cut down on days spent re-organizing your data models –
                reconfigure schema in just minutes. So whenever your workflow
                changes, you can quickly adapt your data models – without
                disruptions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Create one view from across multiple tables – easily. Explore
                your data to gain new insights. And answer quick questions.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Let Mathesar automatically guess the type of data in your
                columns – to save time doing this manually. Mathesar assumes
                data types and maintains integrity.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                De-duplicate your data – the user-friendly interface ensures
                that your collaborators input only data that is valid and
                consistent.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Straightforward UX – your team don’t need to know anything about
                database concepts. ‘Help’ icons will guide you along the way.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                Postgres interface – no disruptions to your workflow since
                Mathesar works on top of your existing tools.
              </div>
            </li>
            <li class="text-lg flex items-start space-x-4">
              <img
                class="w-12 p-1 shrink-0"
                src="assets/postgres-icon.svg"
                alt=""
              />
              <div>
                No paid plans – everyone gets access to the full feature set.
              </div>
            </li>
          </ul>
        </div>
      </div>
      {% include mailing-list.html %}
    </div>
    <div class="bg-stone-300">
      <!--a clipped right triangle divider-->

      <svg
        class="w-full h-16 mx-auto text-gray-800"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon fill="currentColor" points="0,100 100,0 100,100" />
      </svg>
    </div>
    {% include footer.html %}
  </body>
</html>
