<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="mathesar, database, data, postgresql, postgres, open source, free, software, data management, data analysis, data visualization"
    />

    {% seo %}
    <meta
      name="twitter:description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    />

    <title>{{ page.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/assets/main.css' | relative_url }}"
    />
  </head>

  <body class="bg-stone-50 text-gray-800">
    {% include survey_banner.html %}
    <div>{% include navigation.html %}</div>
    <div class="max-w-6xl mx-auto my-16 min-h-screen flex items-start relative ">
      <aside class="bg-stone-100 p-4 w-[20rem] sticky top-16 shrink-0 z-auto">
        <h2 class="text-sm uppercase font-bold mb-4">Blog Posts</h2>
        <ul class="space-y-1">
          {% for post in site.posts %}
          <li>
            <a
              href="{{ post.url }}"
              class="block hover:text-blue-600 hover:bg-stone-200 rounded p-1 transition duration-300 ease-in-out"
              >{{ post.title }}</a
            >
          </li>
          {% endfor %}
        </ul>

        
      </aside>
      <div class="px-8 h-full">
        <article class="space-y-8">
          <header class="space-y-2 leading-snug">
            <h1 class="text-5xl font-semibold">{{ page.title }}</h1>
            <p class="text-gray-600 text-sm">
              Posted on {{ page.date | date_to_string }} by {{ page.author }}
            </p>

            <!--post tags-->
            {% if page.tags %}
            <ul class="tags flex items-center space-x-2">
              {% for tag in page.tags %}
              <li class="list-none bg-red-500 bg-opacity-80 text-white rounded w-max px-1">
                {{ tag }}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </header>

          <div class="prose prose-slate prose-h1:font-bold prose-headings:text-gray-800">{{ content }}</div>

          <footer>
            <p>Posted by {{ page.author }}</p>
          </footer>
        </article>
      </div>
    </div>
    {% include cta.html %}
    {% include footer.html %}
    <script async defer src="https://sa.mathesar.org/latest.js"></script>
    <script async src="https://sa.mathesar.org/auto-events.js"></script>
    <noscript>
      <img
        src="https://sa.mathesar.org/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      />
    </noscript>
  </body>
</html>
